<%-- 
Name: Mapper Interface
Author: Setsuna Jin
Description: Generate Mapper Interface File
--%>
<%@ Template Language="C#" TargetLanguage="Java" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Context"  Description="Table that the stored procedures should be based on." %>

<%@ Property Name="POName" Type="String" Category="Context" Description="Persistent object class name" Optional="False" %>
<%@ Property Name="POPackage" Type="String" Category="Context" Description="Persistent object class package" Optional="False" %>
<%@ Property Name="MapperName" Type="String" Category="Context" Description="Mapper interface name" Optional="False" %>
<%@ Property Name="MapperPackage" Type="String" Category="Context" Description="Mapper interface package" Optional="False" %>
<%@ Property Name="AuthorName" Type="String" Category="Context" Description="The Author Name" Default="Setsuna Jin" Optional="False" %>

package <%= MapperPackage %>;

import <%= POPackage %>.<%= POName %>;
import org.springframework.stereotype.Service;
import java.util.List;

/**
 * <%= POName %> Mapper Interface : <%= SourceTable.Database + " : " + SourceTable.FullName %>
 * @author <%= AuthorName %> Generate By CodeSmith 7.0 At <%= DateTime.Now.ToLocalTime().ToString() %>
 * @see <%= POPackage %>.<%= POName %>
 */
@Service public interface <%= MapperName %> {
    /**
     * 按主键查询数据
     * @param  id <%= SourceTable.Name %>Id
     * @return <%= SourceTable.Description %> 对象
     */
    <%= POName %> selectByPK(Integer id);
    
    /**
     * 查询所有数据
     * @return <%= SourceTable.Description %> 集合
     */
    List<<%= POName %>> selectAll();

    /**
     * 添加数据（全部）
     * @param  <%= SourceTable.Name %> <%= SourceTable.Description %>
     * @return 操作影响行数
     */
    int insert(<%= POName %> <%= SourceTable.Name %>);
    
    /**
     * 添加数据（选择）
     * @param  <%= SourceTable.Name %> <%= SourceTable.Description %>
     * @return 操作影响行数
     */
    int insertSelective(<%= POName %> <%= SourceTable.Name %>);
    
    /**
     * 更新数据（全部）
     * @param  <%= SourceTable.Name %> <%= SourceTable.Description %>
     * @return 操作影响行数
     */
    int updateByPK(<%= POName %> <%= SourceTable.Name %>);
    
    /**
     * 更新数据（选择）
     * @param  <%= SourceTable.Name %> <%= SourceTable.Description %>
     * @return 操作影响行数
     */
    int updateByPKSelective(<%= POName %> <%= SourceTable.Name %>);
    
    /**
     * 根据主键删除
     * @param  id <%= SourceTable.Name %>Id
     * @return 操作影响行数
     */
    int deleteByPK(Integer id);
    
    /**
     * 删除全部数据
     * @return 操作影响行数
     */
    int deleteAll();
        
    /**
     * 获取数据条数
     * @return 数据表数据条数
     */
    int countAll();
}