<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  Table    : admin
  Comment  : admin
  Mapper   : com.drp.po.AdminMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2017/10/10 19:50:57
-->
<mapper namespace="com.drp.po.AdminMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    name,
    password,
    telephone,
    idcard,
    nickName,
    createTime,
    updateTime,
    status,
    createUserId,
    email
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    admin.id AS id,
    admin.name AS name,
    admin.password AS password,
    admin.telephone AS telephone,
    admin.idcard AS idcard,
    admin.nickName AS nickName,
    admin.createTime AS createTime,
    admin.updateTime AS updateTime,
    admin.status AS status,
    admin.createUserId AS createUserId,
    admin.email AS email
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.drp.po.Admin" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 账号 -->
    <result column="name" property="name"/>
    <!-- Comment: 密码 -->
    <result column="password" property="password"/>
    <!-- Comment: 电话号码 -->
    <result column="telephone" property="telephone"/>
    <!-- Comment: 身份证号码 -->
    <result column="idcard" property="idcard"/>
    <!-- Comment: 昵称 -->
    <result column="nickName" property="nickName"/>
    <!-- Comment: 创建时间 -->
    <result column="createTime" property="createTime"/>
    <!-- Comment: 更新时间 -->
    <result column="updateTime" property="updateTime"/>
    <!-- Comment: 用户状态，1是可用，0不可用 -->
    <result column="status" property="status"/>
    <!-- Comment: 创建用户id -->
    <result column="createUserId" property="createUserId"/>
    <!-- Comment: 邮箱 -->
    <result column="email" property="email"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.drp.po.Admin" parameterType="java.lang.Integer" useCache="true">
    SELECT
      <include refid="columns"/>
    FROM admin
    WHERE id = #{id}
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.drp.po.Admin" useCache="true" >
    SELECT
      <include refid="columns"/>
    FROM admin
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" useCache="true" >
    SELECT count(id)
    FROM admin
  </select>
  
  <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.drp.po.Admin" flushCache="true" >
    UPDATE admin
    <set>
      name = #{name},
      password = #{password},
      telephone = #{telephone},
      idcard = #{idcard},
      nickName = #{nickName},
      createTime = #{createTime},
      updateTime = #{updateTime},
      status = #{status},
      createUserId = #{createUserId},
      email = #{email},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.drp.po.Admin" flushCache="true" >
    UPDATE admin
    <set>
      <if test="name != null" >
        name = #{name},
      </if>
      <if test="password != null" >
        password = #{password},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone},
      </if>
      <if test="idcard != null" >
        idcard = #{idcard},
      </if>
      <if test="nickName != null" >
        nickName = #{nickName},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="createUserId != null" >
        createUserId = #{createUserId},
      </if>
      <if test="email != null" >
        email = #{email},
      </if>
    </set>
    WHERE id = #{id}
  </update>
  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.drp.po.Admin" useGeneratedKeys="true" keyProperty="id" flushCache="true" >
    INSERT INTO admin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      name,
      password,
      telephone,
      idcard,
      nickName,
      createTime,
      updateTime,
      status,
      createUserId,
      email,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{name},
      #{password},
      #{telephone},
      #{idcard},
      #{nickName},
      #{createTime},
      #{updateTime},
      #{status},
      #{createUserId},
      #{email},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.drp.po.Admin" useGeneratedKeys="true" keyProperty="id" flushCache="true" >
    INSERT INTO admin 
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="idcard != null" >
        idcard,
      </if>
      <if test="nickName != null" >
        nickName,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createUserId != null" >
        createUserId,
      </if>
      <if test="email != null" >
        email,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="id != null" >
        #{name},
      </if>
      <if test="id != null" >
        #{password},
      </if>
      <if test="id != null" >
        #{telephone},
      </if>
      <if test="id != null" >
        #{idcard},
      </if>
      <if test="id != null" >
        #{nickName},
      </if>
      <if test="id != null" >
        #{createTime},
      </if>
      <if test="id != null" >
        #{updateTime},
      </if>
      <if test="id != null" >
        #{status},
      </if>
      <if test="id != null" >
        #{createUserId},
      </if>
      <if test="id != null" >
        #{email},
      </if>
    </trim>
  </insert>
  
  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.Integer" flushCache="true" >
    DELETE FROM admin WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll" flushCache="true">
    DELETE FROM admin
  </delete>
  
  <cache type="org.mybatis.caches.ehcache.EhcacheCache" readOnly="true"/>
  
  <!-- START USER DEFINED -->
  
</mapper>