<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  Table    : area
  Comment  : 区域
  Mapper   : com.welearn.mapper.AreaMapper
  Author   : Setsuna Jin build with CodeSmith 7.0
  CreateAt : 2019/5/6 9:48:57
-->
<mapper namespace="com.welearn.mapper.AreaMapper">
  <!-- SQL 片段:所有字段 -->
  <sql id="sqlColumns" >
    id,
    createdAt,
    updatedAt,
    isEnable,
    name,
    description,
    companyId,
    addressId,
    photos
  </sql>

  <!-- SQL 片段:所有字段（带表头和 AS） -->
  <sql id="sqlColumnsAs" >
    area.id AS id,
    area.createdAt AS createdAt,
    area.updatedAt AS updatedAt,
    area.isEnable AS isEnable,
    area.name AS name,
    area.description AS description,
    area.companyId AS companyId,
    area.addressId AS addressId,
    area.photos AS photos
  </sql>

  <!-- ResultMap: 默认表结构 -->
  <resultMap id="resultMapDefault" type="com.welearn.entity.po.common.Area" >
    <!-- Comment: 主键 -->
    <id column="id" property="id"/>
    <!-- Comment: 创建时间 -->
    <result column="createdAt" property="createdAt"/>
    <!-- Comment: 更新时间 -->
    <result column="updatedAt" property="updatedAt"/>
    <!-- Comment: 是否可用：0-不可用，1-可用 -->
    <result column="isEnable" property="isEnable"/>
    <!-- Comment: 名称 -->
    <result column="name" property="name"/>
    <!-- Comment: 描述 -->
    <result column="description" property="description"/>
    <!-- Comment: 公司id -->
    <result column="companyId" property="companyId"/>
    <!-- Comment: 地址id -->
    <result column="addressId" property="addressId"/>
    <!-- Comment: 区域照片 -->
    <result column="photos" property="photos"/>
  </resultMap>

  <!-- 按主键查询数据 -->
  <select id="selectByPK" resultType="com.welearn.entity.po.common.Area" parameterType="java.lang.String">
    SELECT
      <include refid="sqlColumns"/>
    FROM area
    WHERE id = #{id}
  </select>

  <!-- 按条件查询数据 -->
  <select id="selectByCondition" resultType="com.welearn.entity.po.common.Area" parameterType="com.welearn.entity.qo.common.AreaQueryCondition" >
    SELECT
      <include refid="sqlColumns"/>
    FROM area
      <where>
        <if test="id != null" >
          id = #{id}
        </if>
        <if test="createdAt != null" >
          AND createdAt = #{createdAt}
        </if>
        <if test="updatedAt != null" >
          AND updatedAt = #{updatedAt}
        </if>
        <if test="isEnable != null" >
          AND isEnable = #{isEnable}
        </if>
        <if test="name != null" >
          AND name = #{name}
        </if>
        <if test="description != null" >
          AND description = #{description}
        </if>
        <if test="companyId != null" >
          AND companyId = #{companyId}
        </if>
        <if test="addressId != null" >
          AND addressId = #{addressId}
        </if>
        <if test="photos != null" >
          AND photos = #{photos}
        </if>
        <!-- START USER DEFINED -->
        
        <!-- End USER DEFINED -->
      </where>
    ORDER BY createdAt ASC, updatedAt DESC
  </select>

  <!-- 查询所有数据 -->
  <select id="selectAll" resultType="com.welearn.entity.po.common.Area" >
    SELECT
      <include refid="sqlColumns"/>
    FROM area
  </select>

  <!-- 获取数据条数 -->
  <select id="countAll" resultType="java.lang.Integer" >
    SELECT count(id)
    FROM area
  </select>
  
  <!-- 更新数据（全部） -->
  <update id="updateByPK" parameterType="com.welearn.entity.po.common.Area" >
    UPDATE area
    <set>
      createdAt = #{createdAt},
      updatedAt = #{updatedAt},
      isEnable = #{isEnable},
      name = #{name},
      description = #{description},
      companyId = #{companyId},
      addressId = #{addressId},
      photos = #{photos},
    </set>
    WHERE id = #{id}
  </update>

  <!-- 更新数据（选择） -->
  <update id="updateByPKSelective" parameterType="com.welearn.entity.po.common.Area" >
    UPDATE area
    <set>
      <if test="createdAt != null" >
        createdAt = #{createdAt},
      </if>
      <if test="updatedAt != null" >
        updatedAt = #{updatedAt},
      </if>
      <if test="isEnable != null" >
        isEnable = #{isEnable},
      </if>
      <if test="name != null" >
        name = #{name},
      </if>
      <if test="description != null" >
        description = #{description},
      </if>
      <if test="companyId != null" >
        companyId = #{companyId},
      </if>
      <if test="addressId != null" >
        addressId = #{addressId},
      </if>
      <if test="photos != null" >
        photos = #{photos},
      </if>
    </set>
    WHERE id = #{id}
  </update>
  
  <!-- 启用 -->
  <update id="enable" parameterType="java.lang.String" >
    UPDATE area SET isEnable = TRUE WHERE id = #{id}
  </update>
  
  <!-- 禁用 -->
  <update id="disable" parameterType="java.lang.String" >
    UPDATE area SET isEnable = FALSE WHERE id = #{id}
  </update>
  
  <!-- 添加数据（全部） -->
  <insert id="insert" parameterType="com.welearn.entity.po.common.Area" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO area
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      createdAt,
      updatedAt,
      isEnable,
      name,
      description,
      companyId,
      addressId,
      photos,
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{id},
      #{createdAt},
      #{updatedAt},
      #{isEnable},
      #{name},
      #{description},
      #{companyId},
      #{addressId},
      #{photos},
    </trim>
  </insert>

  <!-- 添加数据（选择） -->
  <insert id="insertSelective" parameterType="com.welearn.entity.po.common.Area" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO area 
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        createdAt,
      </if>
      <if test="updatedAt != null" >
        updatedAt,
      </if>
      <if test="isEnable != null" >
        isEnable,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="companyId != null" >
        companyId,
      </if>
      <if test="addressId != null" >
        addressId,
      </if>
      <if test="photos != null" >
        photos,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createdAt != null" >
        #{createdAt},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt},
      </if>
      <if test="isEnable != null" >
        #{isEnable},
      </if>
      <if test="name != null" >
        #{name},
      </if>
      <if test="description != null" >
        #{description},
      </if>
      <if test="companyId != null" >
        #{companyId},
      </if>
      <if test="addressId != null" >
        #{addressId},
      </if>
      <if test="photos != null" >
        #{photos},
      </if>
    </trim>
  </insert>
  
  <!-- 根据主键删除 -->
  <delete id="deleteByPK" parameterType="java.lang.String" >
    DELETE FROM area WHERE id = #{id}
  </delete>

  <!-- 删除全部数据 -->
  <delete id="deleteAll">
    DELETE FROM area
  </delete>
  
  
  <!-- START USER DEFINED -->
  
</mapper>